<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/product" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Cart</a></li>
        <li class="nav-item"><a href="/productAdd" class="nav-link">Add Product</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>